
.menu{
    width: 100%;
    margin-bottom: 9%;
}
#golos{
    background-image: none;
}
.menubtn{
    height: 60px;
    color: rgb(136, 136, 136);
    font-size: 30px;
    width: 25%;
    background-color: #1F1F1F;
    border-width: 0px;
    transition-duration: 0.1s;
    transition-property: all;
}
.menubtn:hover{
    height: 53px;
    border-bottom-width: 7px;
    border-bottom-color: rgb(0, 174, 255);
}
.exit{
    background-color: #1F1F1F;
    border-width: 0px;
    height: 60px;
    color: rgb(136, 136, 136);
    font-size: 30px;
    width: 20%;
}
.exit:hover{
    height: 53px;
    border-bottom-width: 7px;
    border-bottom-color: rgb(0, 174, 255);
}
.logo{
    width: 60px;
    height: 60px;
}
.gavno{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}
header{
    background-image: url("images/background.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
}
.vote_name{
    font-size: 40px;
    color: white;
    text-align: center;
}
.vote_disc{
    font-size: 18px;
    text-align: center;
    color: rgb(185, 185, 185);
}
.golosovanie{
    background-color: #24292E;
}
.auth{
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 20%;
    border-radius: 15px;
    background-color: #2C363F;
}
.auth_text{
    color: white;
    font-size: 30px;
}
.auth_info{
    color:rgb(153, 153, 153) ;
}
.login,.password{
    height: 40px;
    width: 70%;
    font-size: 15px;
    padding-left: 30px;
    border-radius: 10px;
}
.footerinfo{
    text-decoration: none;
    color: gray;
}
.button_reg,.button_auth{
    width: 50%;
    height: 60px;
    border-style: solid;
    border-radius: 15px;
    margin-top: 8%;
    margin-bottom: 12%;
    font-weight: 800;
    border-width: 0px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}
.button_reg{
    width: 80%;
    margin-bottom: 10px;
    background-color:rgb(26, 158, 219) ;
}
.button_auth{
    background-color: orange;
}
.vote_ans{
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
    height: 50px;
    text-align: left;
    font-size: 20px;
    color: white;
    width: 80%;
    border-width: 0px;
    margin: 20px;
}
.vote_info{
    border-radius: 10px;
    height: 50px;
    font-size: 17px;
    color: white;
    width: 10%;
    background-color: #2C363F;
    border-width: 3px;
    border-color: rgb(0, 174, 255);
    transition: all 0.2s;
    border-style: solid;
}
.vote_info:hover{
    cursor: unset;
    background-color: 	#00FF6F;
}
.vote{
    border-radius: 10px;
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgb(44, 54, 63) ;
}
.start{
    height: 80px;
    width: 30%;
    border-width: 0px;
    border-radius: 10px;
    background-color: #FFF072;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition-duration: 0.5s;
    transition-property: all;
    margin-bottom: 3%;
    
}
.start:hover{
    background-color:rgb(218, 205, 88) ;
}
button{
    cursor: pointer;
}
h1{
    font-size: 50px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    text-align: center;
}
.ability{
    text-align: center;
    margin-left: 8%;
    float: left;
}
.func{
    font-size: 20px;
    font-weight: 600;
}
.underpicture{
    color: rgb(167, 167, 167);
    font-style: italic;
}
.funcimg{
    height: 296px;
    width: 296px;
    border-radius: 12px;
}
.abilitys{
    text-align: center;
}
.footer{            /*класс*/
    text-align: center;
    width: 50%;
    float: left;
    background-color: #24292E;
    color:rgb(133, 133, 133) ;
}
.footerinfo{
    text-decoration: none;
    color: gray;
    text-align: left;
    margin-left: 4%
}

.footerinfo2{
    text-decoration: none;
    color: gray;
    text-align: left;
    margin-left: 4%
}